<nav>
    <a href="{{ path('main_home') }}"><b>Accueil</b></a>
    |
    <a href="{{ path('wish_list') }}"><b>WishList</b></a>
    |
    <a href="{{ path('main_about_us') }}"><b>AboutUs</b></a>
    |
    {% if app.user %}
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('main_profile') }}"><b>Profile</b></a>
            |
            <a href="{{ path('wish_add') }}"><b>Add New Wish</b></a>
            |
        {% endif%}
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin_dashboard') }}"><b>Dashboard</b></a>
            |
        {% endif%}
        <a href="{{ path('app_logout') }}"><b>Logout - {{ app.user.pseudo }}</b></a>
    {% else %}
        <a href="{{ path('app_login') }}"><b>Login</b></a>
        |
        <a href="{{ path('app_register') }}"><b>Register</b></a>
    {% endif %}
</nav>

